.head-bg-color {
  background-color: #264653;
}
.btn-buy {
  background: #e76f51;
  padding: 10px 46px;
}
.para-1 {
  font-size: 14px;
}
.para-2 {
  text-align: justify;
}
.container-1 img {
  width: 450px;
  height: 400px;
}
.bike-collection {
  color: #e76f51;
}
.feature {
  filter: grayscale(100%);
}
.user-img-1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
span {
  color: #e76f51;
}
.fa-star {
  color: #e76f51;
  cursor: pointer;
}
.user-name {
  color: #23a6f0;
  font-size: 14px;
  font-weight: 600;
}
.user-name a {
  text-decoration: none;
}
.profession {
  font-size: 14px;
  font-weight: 600;
}
.faq img {
  width: 431px;
  height: 423px;
}
.newsletter h3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
}
iframe {
  width: 100%;
  height: 90%;
}
.newsletter p {
  font-size: 14px;
}
.honda-subs-btn {
  background: linear-gradient(rgb(211, 36, 36), red);
  border: none;
  color: #fff;
  padding: 10px 10px;
}
input {
  border: 1px solid #ccc;
  padding: 10px 20px;
}
footer {
  width: 100%;
  height: 200px;
  background: #000;
}
.foot a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  font-size: 0.7rem;
}
.foot p {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  font-size: 0.7rem;
}
@media only screen and (max-width: 688px) {
  .container-1 img {
    overflow-x: hidden;
  }
}
